* {
    background-color: #badc58;
    margin: 0;
    padding: 0;
}

.all {
    background-color: #cdc9c9;
    display:block;
    font-family:sans-serif;
    text-align: center;
    width: 960px;
    margin: 15px auto;
}

.pageTitle {
    background:cornflowerblue;
    
    margin: 5px auto;
    padding: 2px;
}

.menu li {
    background: cyan;
    border: 2px solid magenta;
    display: inline-block;
    padding: 3px;
    margin: 2px auto;
    font-weight: bold;
}

.content {
    text-align: left;
    background-color: mediumaquamarine;
    column-count: 2;
    column-rule: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.presentation {
    text-align: right;
    background-color: mediumspringgreen;
}

.contentInfo section {
    margin: 2px;
    padding: 4px;
}

.footer {
    margin: 2px;
    padding: 4px;
    background:tomato;
}
