body {
    background-color: #dff9fb;
    margin: 0;
    padding: 0;
}

.all {
    background-color: #dffabd;
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.pageTitle h1 {
    color:darkgreen;
    font-size: 200%;
    background-color: #badc58;
    padding: 10px;
    margin: 5px;
}

.menu {
    text-align: right;
}

.menu li {
    display: inline-block;
}

.menu li button {
    background-color: #6ab04c;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    font-weight: bold;
}

.menu li button:hover {
    background-color: darkgreen;
}

.content {
    border: 1px solid rgb(88, 83, 83);
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.presentation {
    float:left;
    width: 30%;
    margin: 10px;
    padding: 10px;
}

.presentation .pText {
    margin: 5px;
    padding: 5px;
}

.developing {
    float:left;
    width: 58%;
    margin: 10px;
    padding: 10px;
}

.developing li{
    margin: 5px;
    padding: 5px;
}

#myName {
    text-align: center;
    font-size: 200%;
}

#work {
    text-align: right;
    color:darkblue;
}

.contentInfo ul {
    list-style: none;
}

.contentInfo li {
    text-align: left;
}

.contentInfo li td, th {
    text-align: left;
    border: 1px solid black;
    margin: 0px;
    padding: 2px;
}

.contentInfo > ul > li > div {
    margin: 5px;
    padding: 2;
    background-color: cornsilk;
}

.contentInfo > ul > li > div > p, h5, h4 {
    margin: 0;
    padding: 0;
}

.footer {
    margin: 3px;
    padding: 8px;
    color: white;
    background:black;
    border: 1px dotted white;
    clear: both;
    text-align: center;
}
