* {
    background-color: #dff9fb;
    margin: 0;
    padding: 0;
}

.all {
    display: block;
    text-align: center;
    width: 80% auto;
    margin: 20px;
}

.pageTitle h1 {
    font-size: 37px;
    background-color: #badc58;
    padding: 10px;
    margin: 5px;
}

.menu li {
    border: 1px solid black;
    display: inline-block;
    padding: 3px;
    margin: 5px;
    font-weight: bold;
}

.content {
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.presentation {
    border-style: double;
    float:left;
    width: 30%;
    margin: 10px;
    padding: 10px;
}

.presentation .pText {
    margin: 5px;
    padding: 5px;
}

.developing {
    float:left;
    width: 60%;
    margin: 10px;
    padding: 10px;
}

.developing li{
    margin: 5px;
    padding: 5px;
}

.contentInfo ul {
    list-style: none;
}

.footer {
    margin: 5px;
    padding: 5px;
    color: white;
    background:black;
    border: 1px dotted white;
    clear: both;
}
